* {
    font-family: 'Montserrat', sans-serif;
}





/* ######## "BANNER" ######## */
#banner {

}

    .top {
        color: #bd9e62;
        background: #f2e9d5;   /* this sets the backround, not the #banner background */
        outline: 0px; /* because these are buttons, this gets rid of the default outline */
        font-size: 150%;
        border: 0px;
        outline: 0px; /* because these are buttons, this gets rid of the default outline */
    }



/* ######## "CONTENT" ######## */
#content {
    background-color: white;
    color: #4d3a16;
  }

    #loading-market {
      color: #bd9e62;
    }

    #market-title {
        color: #8b5b00;
        font-size: 45px;
        font-family: 'Berkshire Swash', cursive;
    }

    #market-blurb {
        font-size: 16px;
    }

    #market-list {
        font-size: 20px;
        }

    .product-detail-last {
      background-color: #f2e9d5;
    }