/* ######## GENERAL ######## */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}







/* ######## "BANNER" ######## */
#banner {
  float: left;
  width: 100%;
  background-color: white;
}

.top {
  height: 135px;
  float: left;
  width: 25%;
  font-size: 220%;
  border: 0px;
  outline: 0px;
  font-size: 220%;
}

#banner-middle {
  width: 40%;
}

#banner-left {
  text-align: left;
}

#banner-right {
  text-align: right;
}

#spacer {
  width: 5%;
}




/* ######## "CONTENT" ######## */
#content {
  background-color: white;
  width: 100%
}

/* Don't explicitly state height here -- it means the children can't express their own */
/* If two elements are in the .belly container and both have 50% width, they will neatly fill up whole screen */
.belly {
  float: left;
  font-size: 220%;
  border: 0px;
  outline: 0px;
  font-size: 220%;
  padding: 50px;
  display: block;
}

#market-description {
  display: block;
  width: 30%;
  padding-left: 15%;
  height: 200px;
}

#market-title {
  font-size: 50px;
  vertical-align: sub;
}

#market-brief {
  text-align: left;
  font-size: 18px;
}

#market-list {
  display: block;
  padding-left: 12%;
}

.product-detail {
  text-align: left;
  display: inline;
  font-size: 20px;
  padding-right: 60px;
}