/* ######## GENERAL ######## */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}







/* ######## "BANNER" ######## */
#banner {
  float: left;
  width: 100%;
  background: grey;
}

.top {
  height: 100px;
  float: left;
  width: 20%;
  font-size: 220%;
  border: 0px;
  outline: 0px;
  font-size: 150%;
  background: rgb(233, 233, 233);
}

#banner-middle {
  width: 40%;
}

#banner-left {
  text-align: left;
}

#banner-right {
  text-align: right;
}

#spacer {
  width: 10%;
}




/* ######## "CONTENT" ######## */
#content {
  background-color: white;
  width: 100%;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

/* Don't explicitly state height here -- it means the children can't express their own */
/* If two elements are in the .belly container and both have 50% width, they will neatly fill up whole screen */
.belly {
  float: left;
  font-size: 220%;
  border: 0px;
  outline: 0px;
  font-size: 220%;
  padding: 50px;
  display: block;
}

#market-description {
  display: block;
  height: 200px;
  padding-left: 0%;
  padding-right: 16%;
  padding-top: 0%;
}

      #market-title {
        text-align: left;
        font-size: 45px;
        display: block;
        width: 60%;
        padding-bottom: 20px;
      }

      #brief-container {
        text-align: left;
        padding-top: 12px;
        font-size: 15px;
      }

#market-list {
  padding-top: 0%;
  display: block;
  text-align: left;
  padding-left: 0%;
  padding-right: 5%;
  font-size: 20px;
}

  .product {
    text-align: left;
  }

  table {
    width: 100%;
    text-align: left;
    padding-top: 20px;
  }

  tr {
    text-align: left;
    padding-right: 100px;
  }

  td {
    text-align: left;
    padding-right: 100px;
    padding-bottom: 30px;
  }

  .product-detail-last {
    padding-right: 0px;
  }

  /*
      .product-detail, product-detail-last {
        text-align: left;
        display: inline;
        font-size: 10px;
      }

      .product-detail {
        padding-right: 100px;
        width: 10px;
      }

      .product-detail-last {
        font-size: 20px;
      }
      */