#banner-title, #banner-login {
    background: black;
    font-family: 'Caveat', Tahoma;
  }

  #banner-title {
    color: #398e8a;
  }

  #banner-login {
    color: #ff6655;
  }

  #banner-title:hover {
    background: #575757;
    color: #fcd161;
  }
  
  #banner-login:hover {
    background: #575757;
    color: #b2daff;
  }
  
  #banner-title:active {
    color: #575757;
  }
  
  #banner-login:active {
    font-size: 300%;
  }

  #testies {
    background: #ff90a5;
    padding: 2%;
  }

